<div class="bg-gray-800 p-10 w-100 rounded-lg">
  <h1 class="text-3xl font-bold mb-6">Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <!-- Email -->
    <div class="mb-4">
      <ms-text-control label="Email" formControlName="email" />
    </div>

    <div class="mb-4">
      <ms-text-control label="Password" formControlName="password" />
    </div>

    <!-- Submit Button -->
    <button
      class="bg-green-500 text-white px-12 py-4 rounded hover:bg-green-400 w-full"
    >
      Login
    </button>
  </form>
  <p class="mt-4 text-center">
    Dont have a account?
    <a routerLink="/user/register" class="text-green-400 hover:underline">Register here.</a>
  </p>
</div>
