<ms-main-header></ms-main-header>
<main class="container mx-auto p-8">
  <ms-main-banner></ms-main-banner>

  <ng-container *ngIf="topAlbums$ | async as albums; else loading">
    <ms-album-listing
      [albums]="albums"
      [heading]="topAlbumHeading"
    ></ms-album-listing>
  </ng-container>

  <ng-container *ngIf="bollywoodAlbums$ | async as albums; else loading">
    <ms-album-listing
      [albums]="albums"
      [heading]="bollywoodAlbumHeading"
    ></ms-album-listing>
  </ng-container>

  <ng-container *ngIf="latestAlbums$ | async as albums; else loading">
    <ms-album-listing
      [albums]="albums"
      [heading]="latestAlbumHeading"
    ></ms-album-listing>
  </ng-container>

  <!-- <ms-album-listing [albums]="albums$ | async" [heading]="latestAlbumHeading"></ms-album-listing>
    <ms-album-listing [albums]="albums$ | async" [heading]="bollywoodAlbumHeading"></ms-album-listing> -->
</main>

<ng-template #loading> Loading... </ng-template>
